<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/userLayout}">
<head>
    <title>Upload Image</title>
</head>
<body layout:fragment="content" class="bg-gray-100 p-6 justify-center h-screen">

<div class="bg-white shadow-md rounded-lg p-6 w-full max-w-md min-h-screen">
    <h2 class="text-2xl font-bold mb-4 text-center">Upload a File</h2>

    <!-- Mostrar mensaje de éxito o error -->
    <div th:if="${message}" class="mb-4">
        <p th:text="${message}" class="text-center text-lg text-green-500"></p>
    </div>

    <!-- Formulario para subir archivos -->
    <form method="post" action="/upload/one" enctype="multipart/form-data" class="space-y-4">
        <div>
            <label for="file" class="block text-gray-700">Select a file:</label>
            <input type="file" id="file" name="file" class="mt-1 block w-full p-2 border border-gray-300 rounded-md" required onchange="previewImage(event)">
        </div>
        
        <!-- Previsualización de la imagen -->
        <div id="preview-container" class="mt-4">
            <img id="image-preview" class="w-full h-auto max-h-64 object-cover rounded-lg" style="display: none;">
        </div>

        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600 transition-colors">
            Upload
        </button>
    </form>
</div>

<script>
    function previewImage(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('image-preview');
            output.src = reader.result;
            output.style.display = 'block';
        };
        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

</body>
</html>
