<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/adminLayout}"
        class="bg-gray-100"
>


<div layout:fragment="admin-content" class="p-4 sm:ml-64">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script th:inline="javascript">
            Swal.fire({
                title: "Confirmación",
                text: /*[[${msg}]]*/ '',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script th:inline="javascript">
            Swal.fire({
                title: "Error",
                text: /*[[${error}]]*/ '',
                icon: "error"
            });
        </script>
    </div>
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Listado de Usuarios</h1>
    <a th:href="@{/users/create}" class="inline-block mb-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition duration-300">Crear usuario admin</a>

    <div class="overflow-x-auto bg-white rounded-lg shadow">
        <table class="w-full table-auto">
            <thead class="bg-gray-200 text-gray-700">
            <tr>
                <th class="px-4 py-3 text-left">ID</th>
                <th class="px-4 py-3 text-left">Nombre</th>
                <th class="px-4 py-3 text-left">Email</th>
                <th class="px-4 py-3 text-left">Es Admin</th>
                <th class="px-4 py-3 text-left">Google Linked</th>
                <th class="px-4 py-3 text-left">Fecha de Creación</th>
                <th class="px-4 py-3 text-left">Acciones</th>
            </tr>
            </thead>
            <tbody class="text-gray-600">
            <tr th:each="user : ${users}" class="border-b border-gray-200 hover:bg-gray-100">
                <td class="px-4 py-3" th:text="${user.id}"></td>
                <td class="px-4 py-3" th:text="${user.name}"></td>
                <td class="px-4 py-3" th:text="${user.email}"></td>
                <td class="px-4 py-3" th:text="${user.admin}"></td>
                <td th:if="${user.googleId}" class="px-4 py-3">Si</td>
                <td th:unless="${user.googleId}" class="px-4 py-3">No</td>
                <td class="px-4 py-3" th:text="${#dates.format(user.createdAt, 'dd/MM/yyyy HH:mm')}"></td>
                <td class="px-4 py-3">
<!--                    <a th:href="@{/users/edit/{id} (id = ${user.id})}" class="text-green-500 hover:text-green-700 mr-2">Editar</a>-->
                    <a th:href="@{/users/delete/{id} (id = ${user.id})}" class="text-red-500 hover:text-red-700">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



</div>

</html>
