<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/userLayout}">
<head>
    <meta charset="UTF-8" />
    <title>Ecommerce</title>
    <style>
        .product-container {
            overflow-x: auto; /* Permitir el desplazamiento horizontal */
            white-space: nowrap; /* Evitar el salto de línea en los productos */
        }

        .product-card {
            display: inline-block; /* Mantener las tarjetas en línea */
            margin-right: 0; /* Sin margen entre tarjetas */
            margin-left: 0; /* Sin margen entre tarjetas */
        }

        #toast-container .toast {
            position: fixed;
            top: 1rem;
            right: 1rem;
            min-width: 250px;
            z-index: 9999;
        }
    </style>
    <script>
        function getGreeting() {
            const now = new Date();
            const hours = now.getHours();
            let greeting;

            if (hours < 12) {
                greeting = "buenos días";
            } else if (hours < 18) {
                greeting = "buenas tardes";
            } else {
                greeting = "buenas noches";
            }

            return greeting;
        }

        document.addEventListener("DOMContentLoaded", function () {
           // document.getElementById("greeting").innerText = getGreeting();
            let user = [[${userId}]];
            let username = "[[${username}]]";
            if(username === ""){
                cleanCart();
                localStorage.clear();
            }
            if(user != 0){
                localStorage.setItem("userId", user);
                localStorage.setItem("username", username);
            }
        });

    </script>
</head>
<body>
<div layout:fragment="content">
    <div id="toast-container-1" class="fixed top-0 right-0 m-4 z-50"></div>

    <!-- <div class="mt-6 text-center">
        <h1>Hola, <span id="greeting"></span> <span th:text="${username}"></span></h1>
    </div> -->

    <!--    <div class="relative mx-auto mt-6 max-w-lg">-->
    <!--        <span class="absolute inset-y-0 left-0 flex items-center pl-3">-->
    <!--          <svg class="h-5 w-5 text-gray-500" viewBox="0 0 24 24" fill="none">-->
    <!--            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />-->
    <!--          </svg>-->
    <!--        </span>-->
    <!--        <input class="focus:shadow-outline w-full rounded-md border py-2 pl-10 pr-4 focus:border-blue-500 focus:outline-none" type="text" placeholder="Search" />-->
    <!--    </div>-->

    <!-- Contenedor principal de productos -->
    <div>
        <div class="text-center mt-6">
            <h1 class="text-3xl font-extrabold text-gray-800">Bienvenido a nuestra tienda</h1>
            <p class="text-lg text-gray-600">Explora nuestros productos destacados y encuentra lo que más te gusta.</p>
        </div>
        <div class="text-center my-4">
            <h2 class="text-2xl font-semibold text-gray-800">Top 5 productos más vendidos</h2>
        </div>
        <div class="product-container mx-auto mt-4 max-w-6xl">
            <!-- Repetir esta tarjeta para cada producto -->
            <div th:id="'product-card-' + ${product.id}" th:if="${product.stock > 0}" th:each="product : ${productsWeek}" class="product-card relative mx-2 my-3 min-w-[200px] max-w-sm rounded-2xl bg-white p-4 shadow-md transition-all duration-300 hover:shadow-xl">
                <div th:attr="onclick=|window.location.href='/shop/product/${product.id}'|" class="relative overflow-x-hidden rounded-2xl cursor-pointer">
                    <img th:src="${product.imageUrl}" class="h-48 w-full rounded-2xl object-cover" />
                        <p th:if="${product.stock > 0}" th:id="'buy-icon-' + ${product.id}" th:attr="onclick=|addToCart('${product.name}', 1, '${product.price}', '${product.stock}', '${product.id}', '${product.imageUrl}'); event.stopPropagation();|" class="group absolute right-2 top-2 cursor-pointer rounded-full bg-white p-2 transition-all duration-300 hover:scale-105 hover:bg-slate-50">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-70 group-hover:opacity-50" fill="none" viewBox="0 0 24 24" stroke="black">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                        </p>
                </div>
                <div class="mb-2 mt-4 flex justify-between pl-2">
                    <div>
                        <p class="mb-0 text-lg font-semibold text-gray-900" th:text="${product.name}"></p>
                        <p th:id="'price-text-' + ${product.id}" class="text-md mt-0 text-gray-800" th:text="'$' + ${product.price}"></p>
                        <p th:id="'price-text-agotado-' + ${product.id}" class="text-md mt-0 hidden text-red-500">AGOTADO</p>
                    </div>
<!--                    <div class="group mb-1 mr-4 flex cursor-pointer flex-col-reverse">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 group-hover:opacity-70" fill="none" viewBox="0 0 24 24" stroke="gray">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />-->
<!--                        </svg>-->
<!--                    </div>-->
                </div>
                <!-- Fin de la tarjeta de producto -->
            </div>

            <!-- Producto agotado -->
            <div th:id="'product-card-agotado-' + ${product.id}" th:if="${product.stock == 0}" th:each="product : ${productsWeek}" class="product-card relative mx-2 my-3 min-w-[200px] max-w-sm rounded-2xl bg-white p-4 shadow-md transition-all duration-300 hover:shadow-xl">
                <div class="relative overflow-x-hidden rounded-2xl">
                    <img th:src="${product.imageUrl}" class="h-48 w-full rounded-2xl object-cover" />
                </div>
                <div class="mb-2 mt-4 flex justify-between pl-2">
                    <div>
                        <p class="mb-0 text-lg font-semibold text-gray-900" th:text="${product.name}"></p>
                        <p class="text-md mt-0 text-gray-800 text-red-500">AGOTADO</p>
                    </div>
<!--                    <div class="group mb-1 mr-4 flex cursor-pointer flex-col-reverse">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 group-hover:opacity-70" fill="none" viewBox="0 0 24 24" stroke="gray">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />-->
<!--                        </svg>-->
<!--                    </div>-->
                </div>
                <!-- Fin de la tarjeta de producto -->
            </div>


            <!-- Repetir más tarjetas de productos aquí -->
        </div>
        <div class="text-center mb-6">
            <h2 class="text-2xl font-semibold text-gray-800">Todos los Productos</h2>
            <p class="text-gray-600">Los productos más populares y recomendados.</p>
            <!-- Contenedor donde se van a insertar las nuevas cards -->
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Aquí insertar las tarjetas -->
                <div th:each="p : ${allproducts}">
                    <div th:id="'product-card-' + ${p.id}" th:if="${p.stock > 0}" class="product-card relative mx-2 my-3 min-w-[200px] max-w-sm rounded-2xl bg-white p-4 shadow-md transition-all duration-300 hover:shadow-xl">
                        <div th:attr="onclick=|window.location.href='/shop/product/${p.id}'|" class="relative overflow-x-hidden rounded-2xl cursor-pointer">
                            <img th:src="${p.imageUrl}" class="h-48 w-full rounded-2xl object-cover" />
                            <p th:if="${p.stock > 0}" th:id="'buy-icon-' + ${p.id}" th:attr="onclick=|addToCart('${p.name}', 1, '${p.price}', '${p.stock}', '${p.id}', '${p.imageUrl}'); event.stopPropagation();|" class="group absolute right-2 top-2 cursor-pointer rounded-full bg-white p-2 transition-all duration-300 hover:scale-105 hover:bg-slate-50">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-70 group-hover:opacity-50" fill="none" viewBox="0 0 24 24" stroke="black">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            </p>
                        </div>
                        <div class="mb-2 mt-4 flex justify-between pl-2">
                            <div>
                                <p class="mb-0 text-lg font-semibold text-gray-900" th:text="${p.name}"></p>
                                <p th:id="'price-text-' + ${p.id}" class="text-md mt-0 text-gray-800" th:text="'$' + ${p.price}"></p>
                                <p th:id="'price-text-agotado-' + ${p.id}" class="text-md mt-0 hidden text-red-500">AGOTADO</p>
                            </div>
                        </div>
                    </div>

                    <!-- Producto agotado -->
                    <div th:id="'product-card-agotado-' + ${p.id}" th:if="${p.stock == 0}" class="product-card relative mx-2 my-3 min-w-[200px] max-w-sm rounded-2xl bg-white p-4 shadow-md transition-all duration-300 hover:shadow-xl">
                        <div class="relative overflow-x-hidden rounded-2xl">
                            <img th:src="${p.imageUrl}" class="h-48 w-full rounded-2xl object-cover" />
                        </div>
                        <div class="mb-2 mt-4 flex justify-between pl-2">
                            <div>
                                <p class="mb-0 text-lg font-semibold text-gray-900" th:text="${p.name}"></p>
                                <p class="text-md mt-0 text-gray-800 text-red-500">AGOTADO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>